################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vs/FilePaths/v16
/FilePaths/bin
/FilePaths/obj
*.suo
